<div class="wrapper add-color">
  <div class="container default-container">
    <h1 class="text-white text-center">プロフィールを作成する</h1>
    <div class="row">
      <div class="col-md-offset-3 col-md-6 form-conter text-center">
        <%= form_for @profile,url:user_profiles_path do |f| %>
        <div class="form-group">
          <%= f.label :userimage, "プロフィール画像" %>
          <%= f.file_field :userimage, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :profile,"自己紹介" %>
          <%= f.text_area :profile, class: 'form-control' %>
        </div>
        <%= f.hidden_field :user_id, :value => params[:user_id] %>
        <%= f.submit '作成する', class: 'btn-block btn-white vertical-btn' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
