<div class="wrapper add-color">
  <div class="container default-container">
    <h1 class="text-white text-center">コメント</h1>
    <div class="row">
      <div class="form-conter col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8  col-xs-offset-1 col-xs-10">
        <%= form_with model: @comment,url: comments_create_path, local: true do |form| %>
        <div class="form-group">
          <%= form.label :comment, 'コメント内容' %>
          <%= form.text_area :comment, placeholder: "最大120文字です", class: 'form-control',id: 'user_new_comment' %>
        </div>
        <%= form.hidden_field :micropost_id, :value => params[:micropost_id] %>
        <%= form.submit 'コメントする', class: 'btn-block btn-white vertical-btn' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
