<div class="wrapper add-color">
  <div class="container default-container">
    <h1 class="text-white text-center">コメント</h1>
    <div class="row">
      <div class="col-md-offset-3 col-md-6 form-conter">
        <%= form_for @comment,url: comments_create_path do |f| %>
        <div class="form-group">
          <%= f.label :comment, 'コメント内容' %>
          <%= f.text_area :comment, placeholder: "最大120文字です", class: 'form-control' %>
        </div>
        <%= f.hidden_field :micropost_id, :value => params[:micropost_id] %>
        <%= f.submit 'コメントする', class: 'btn-block btn-white vertical-btn' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
