<div class="wrapper">
  <div class="container add-color default-container">
    <%= link_to "ユーザーを検索する", user_search_path ,class: 'col-offset-9 col-3 btn btn-white'%>
    <div class="row">
      <h1 class="text-center text-white">ユーザー一覧</h1>
      <div class="container">
        <% @users.order('created_at DESC').each do |user| %>
          <div class="row">
            <div class="micropost-conteiner col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8">
              <div class="index-user-name">
                <% if !user.profile.nil? %>
                  <h2><%= link_to user.name, user_path(user.id),class: 'col-4', :style=>"color:white;" %></h2>
                  <%= image_tag user.profile.userimage, alt:'#{user.name}のプロフィール画像です', :size => "100x50", class: "index-image col-2" %>
                <% else %>
                  <h2><%= link_to user.name, user_path(user.id),class: 'col-4', :style=>"color:white;" %></h2>
                <% end %>
                <% if user != current_user %>
                  <% if user.followed_by?(current_user) %>
                    <%=link_to "フォロー済み", user_relationships_path(user.id), method: :delete, class: 'pull-right',:style=>"color:white;"%>
                  <% else %>
                    <%=link_to "フォローする", user_relationships_path(user.id), method: :post, class: 'pull-right',:style=>"color:white;" %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
        <div class="text-center">
          <%= paginate @users %>
        </div>
      </div>
    </div>
  </div>
</div>
