<div class="wrapper add-color">
  <div class="container default-container">
    <h1 class="text-white text-center">新規登録</h1>
    <div class="row">
      <div class="col-md-offset-4 col-md-4">

        <%= form_for @user do |f| %>
          <div class="form-group">
            <%= f.label :name, '名前' , class: 'text-white' %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :email, 'メールアドレス' , class: 'text-white' %>
            <%= f.text_field :email, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :password, 'パスワード' , class: 'text-white' %>
            <%= f.password_field :password, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation, 'パスワード（確認）' , class: 'text-white' %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
          </div>
          <%= f.submit "登録", class: 'btn-block btn-white vertical-btn' %>
        <% end %>
        <%= link_to 'ログインはこちら', login_path , class: 'btn to-login' %>
      </div>
    </div>
  </div>
</div>
