<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-10 user-show">
        <h1 class="text-conteiner text-white col-md-3">
          投稿一覧
        </h1>
      </div>
    </div>
  </div>
  <div class="container">
    <% @microposts.each do |micropost| %>
      <div class="row">
        <div class="col-md-offset-2 col-md-6 micropost-conteiner">
          <h2 class = "micropost-user-name">
            <%= micropost.user.name %>
          </h2>
          <p class = "micropost-content" >
            <%= link_to micropost.content, "/microposts/#{micropost.id}",:style=>"color:white;"%>
          </p>
          <% if !micropost.favorite_users.include?(current_user) %>
          <%= link_to favorites_path(micropost_id: micropost.id), method: :post do %>
            <%= image_tag 'heart.png', class: 'topic-index-icon' %>
          <% end %>
        <% else %>
          <%= link_to favorites_path(micropost_id: micropost.id), method: :delete do %>
            <i class="fa fa-heart" aria-hidden="true"></i>
          <% end %>
        <% end %>
        <%= micropost.favorite_users.count %>
        </div>
      </div>
    <% end %>
  </div>
</div>
