<!DOCTYPE html>
<html lang="ja" dir="ltr">
<html>
  <head>
    <meta charset="utf-8">
    <title>パラリンク</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <%= link_to "パラリンク", root_path, class:"logo"%>
      <nav>
        <ul class="nav navbar-nav navbar-right ">
          <li><%= link_to "新規登録", new_user_path%></li>
          <li><%= link_to "ログイン", login_path%></li>
          <li><%= link_to "投稿する", '#' %></li>
        </ul>
      </nav>
    </div>
  </header>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
  <% end %>
  <%= yield %>

  <script>
    $(function(){
      $(".alert").fadeOut(5000);
    });
  </script>
  </body>
</html>
